/* Define a cor de fundo do body e a fonte utilizada no site */
body{
    background-color: #a7a7a7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Define a propriedade box-sizing para todos os elementos da página */
* {
    box-sizing: border-box;
}

/* Define a cor do texto do título do cabeçalho */  
h1{
    font-style: bold;
    color: rgb(0, 0, 0);
}

/* Define a cor do texto dos parágrafos no cabeçalho */
p{
    font-style: italic;
    color:rgb(0, 0, 0);
}

/* Define o estilo do cabeçalho, incluindo a cor de fundo, o alinhamento do texto e a borda */
header{
    position: relative;
    text-align: center;
    border-style: dashed;
    background-color: rgb(60, 66, 64);
    margin: auto;
}
/* Define o estilo do titulo do cabeçalho*/
header h1{
    font-family: serif;
    font-style: bold;
    color:rgb(255, 255, 255)
}

/*estiliza o menu*/
main{
    max-width: auto;
    max-height: auto;
}
/* Define o estilo da navegação, incluindo a largura, altura, cor de fundo e espaçamento interno */
nav {
    outline-style: solid ;
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav img{
    margin-left: 30%;
    border-style: solid;
    height: 140px;
    width: 200px;
}

/* Define o estilo da lista de navegação, removendo os pontos e espaçamento interno */
nav ul {
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
}

li{
    display: inline;
}
/* Define o estilo do conteúdo principal, incluindo a largura, espaçamento interno e cor de fundo */
article {
    overflow: auto;
    outline-style: solid ;
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}
article p{
    margin-left: 50px;
}
/* Define uma limpeza para a seção, para garantir que a navegação e o conteúdo principal estejam flutuando corretamente */
section::after {
    content: "";
    display: table;
    clear: both;
}

#secao1{
    outline-style: solid ;
    background-color: #ccc;
}

/* Define a borda da tabela e a largura das colunas */
table {
    border: 1px solid black;
    width: 100%;
}

/* Define a cor de fundo do cabeçalho da tabela */
th {
    background-color: #ccc;
}

/* Define a cor de fundo das linhas alternadas da tabela */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Define a cor de fundo da célula quando o mouse passa por cima dela */
td:hover {
    background-color: #ddd;
}

/* Define a cor de fundo da célula quando ela é selecionada */
td:active {
    background-color: #a6a6a6;
}

/* Define a cor de fundo das células que contêm dados importantes */
td.highlight {
    background-color: #ffcc99;
}

.box_image{
    z-index: -1;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background-color: #555;
    padding: 10px;
    margin-left: 40%;
    border: solid;
    max-width: max-content;
    max-height: max-content;
}
.box_image:hover{
    opacity: 1;
    
}


#secao2{
    outline-style: solid ;
    background-color: #b4b4b4;
}
#secao3{
    outline-style: solid ;
    background-color: #9b9b9b;
}
/* Define o estilo do rodapé, incluindo a cor de fundo */
footer {
    position: absolute;
    width: 100%;

	background-color: rgb(60, 66, 64);
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

.container {
    margin-left: -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.info-contato p {
    font-style: bold;
    color: white;
	margin: 0;
}

.links-uteis ul {
    list-style: none;
	margin: 0;
	padding: 0;
}

.links-uteis li {
    margin-left: 50px;
	display: inline-block;
	margin-right: 20px;
}

.links-uteis a {
	color: #555;
	text-decoration: none;
	font-size: 18px;
}

.links-uteis a:hover {
    padding-left: 10px;
    color: white;
	text-decoration: underline;
}

.redes-sociais a {
	display: inline-block;
	margin: 0 10px;
	font-size: 24px;
	color: #555;
}

.direitos-autorais {
	font-size: 14px;
	color: #999;
	margin-top: 20px;
}

/* Define um estilo de media query para dispositivos com largura máxima de 600px, alterando a largura e altura da navegação e do conteúdo principal */
@media (max-width: 600px){
    nav, article {  
        width: 100%;
        height: auto;
    }
}
